.dotSeperator {
  padding-left: 0.5rem;
  color: rgba(0, 0, 0, 0.4);
}

.comment {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  margin: 0 !important;
  border-radius: 10px !important;
}

.action {
  padding-right: 0.3rem;

  &.likes {
    color: #2185d0;
  }

  &.dislikes {
    color: red;
  }
}

.icon {
  margin-right: 0.4rem !important;
}
