html,
body {
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

.reply.form {
  .field {
    margin: 0 0 0.25rem;
    @media only screen and (min-width: 768px) {
      margin: 0 0 0.5rem;
    }
  }
}

.grid {
  .column:first-child {
    padding: 0.25rem 0 !important;
    @media only screen and (min-width: 768px) {
      padding: 0 0.25rem 0 0 !important;
    }
  }
  .column:last-child {
    padding: 0.25rem 0 !important;

    @media only screen and (min-width: 768px) {
      padding: 0 0 0 0.25rem !important;
    }
  }

  .row:first-child {
    padding: 0 !important;
    padding-bottom: 0.25rem !important;
  }

  .row:last-child {
    padding: 0 !important;
    padding-top: 0.25rem !important;
  }
}

.ui.segment {
  padding: 0;
}
